body {

    background-color:rgba(169, 169, 169, 0.651);
    
}

h1 {
background-color: black;
color:white;
    text-align:center;
}

img {

    width: 500px;
    height: auto;

}

.front {


    font-size: 36px;
    text-align: center;
    color:black;
}